---
layout: single
#title: "My posts"
permalink: /posts/
author_profile: true
---
{% for post in site.posts %}
  {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
  {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
    {% if month != nmonth %}
      {% if forloop.index != 1 %}
      {% endif %}
    {% endif %}
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
  	{% if post.read_time %}
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      {% capture read_time %}{% include read-time.html %}{% endcapture %}{{ read_time | strip }}
    {% endif %}
    
  	<span class="time">, <i class="fa fa-hospital-o"></i> {{ post.date | date: '%B %d, %Y' }}</span>
  	<br>
  	<img src="{{post.image}}" alt="{{post.title}}">

  	<p style="font-size: 0.8em;text-overflow: ellipsis;width: 100%;margin-top: 3px;text-align: justify;">{{ post.excerpt }}...</p>
  	<button type="button" class="btn btn-info btn-sm"><a href="{{ post.url }}" style="font-size: 0.8em;">Read More <i class=" fa fa-angle-double-right"></i></a></button>

{% endfor %}